<div id="google-map">
</div>

<div class="form">
  <form>
    <input id="postal-code" placeholder="Postal Code"/>
    <a href="#"><i class="fa fa-search" onclick="searchPostal()"></i></a>
  </form>
</div>

<div id="results">
</div>